@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-base text-black dark:text-white dark:bg-slate-900;
  overflow-x: hidden !important;
}

.main_btn {
  @apply bg-red-600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border-radius: 15px;
  position: relative;
  overflow: visible; /* IE9 & 10 */
  -webkit-transition: 500ms linear;
  -moz-transition: 500ms linear;
  -o-transition: 500ms linear;
  transition: 500ms linear;
}

.main_btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: -3px;
  right: 0;
  height: 23px;
}

.main_btn:hover {
  @apply bg-red-700;
}
.main_btn:focus {
  outline: none; /*FF*/
}
.main_btn:active {
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */ inset 0 0 6px #e31414,
    /* inner glow */ inset 0 80px 80px -40px #e31414,
    /* gradient */ 0px 1px 0px rgba(255, 255, 255, 0.25); /* shadow */
  -webkit-transition: 50ms linear;
  -moz-transition: 50ms linear;
  -o-transition: 50ms linear;
  transition: 50ms linear;
}
.in-card {
  @apply rounded-lg p-3 bg-[#1c2741cf] cursor-pointer backdrop-blur-md shadow shadow-black/30 hover:bg-[#283657e0]  w-full duration-300;
  border: 0.5px solid transparent !important;
}

.in-card:hover {
  border: 0.5px solid rgba(255, 255, 255, 0.404) !important;
}

.fee-selected {
  @apply rounded-lg bg-[#1c2741cf] cursor-pointer backdrop-blur-md shadow shadow-black/30 hover:bg-[#283657e0] duration-300;
  border: 0.5px solid transparent !important;
}

.fee-selected:hover {
  border: 0.5px solid rgba(255, 255, 255, 0.404) !important;
}
